.breadcrumbs {
    padding: 20px 0;
    background: #4154f1;
    min-height: 40px;
    margin-top: 0;
    color: #fff;
}
.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 17px;

}
.breadcrumbs ol li + li::before {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    content: "/";
}
.breadcrumbs ol a {
    color: #fff;
    transition: 0.3s;
}


.card {
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    margin-bottom: 1rem;
}

.flex-column {

    flex-direction: column!important;
}
.card .nav.flex-column>li {
    border-bottom: 2px solid rgba(0,0,0,.125);
    margin: 0;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
}
.nav-link {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.bg-primary, .bg-primary>a {
    color: #fff!important;
}
.bg-primary {
    background-color: #007bff!important;
}
.float-right {
    float: right!important;
}