<section id= "land">
 <div class= "container">
    <div class= "row">
        <div class="col-md-6 col-ms-6">
            <div class= "landpage-left">
                <h1 style="font-size: 50px; color:#fff !important; margin-top: 25px;">smartlearn</h1>
                <p style= "font-size:25px; color:#fff !important;">Welcome to smartlearn</p>
                <p style="color:#fff !important;">Thank you for choosing us to to be your number one platform throughout your studies. We provide qaulity education henceforth, allow us to make your education easy and fun. Thank you  </p>
            </div>
            <br>
            <a href= "#" routerLink= "/login" class= "btn btn-primary align-self-center">
            <span>Get Started</span>
            <fa-icon [icon]= "faArrowRight"></fa-icon>
           </a>
        </div>
        <div class= "col-md-6 col-ms-6">
            <div class= "landpage-rigt">
                <img src= "assets/img/features-2.png" width= "100%">
            </div>
        </div>
    </div>
 </div>   
</section>

