<section id= "land">
 <div class= "container">
    <div class= "row">
        <div class="col-md-6 col-ms-6">
            <div class= "landpage-left">
                <h1 style="font-size: 50px; color:#fff !important; margin-top: 25px;">smartlearn</h1>
                <p style= "font-size:25px; color:#fff !important;">Welcome to smartlearn</p>
                <p style="color:#fff !important;">smartlearn is a live online learning. We deliver learning succesfully and greatly engage
                    through interactive technologies.We are available anytime to assits learners with online tutoring.</p>
            </div>
            <br>
            <a href= "#" routerLink= "/login" class= "btn btn-primary align-self-center">
            <span>Get Started</span>
            <fa-icon [icon]= "faArrowRight" class= "p-2"></fa-icon>
           </a>
        </div>
        <div class= "col-md-6 col-ms-6">
            <div class= "landpage-rigt">
                <img src= "assets/img/features-2.png" width= "100%">
            </div>
        </div>
    </div>
 </div>   
</section>

