.container{
    padding-left: 0;
    padding-right: 0;
}
.nav{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.navbar-dark .navbar-brand {
    color: #fff;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.55rem;
    line-height: inherit;
    white-space: nowrap;
}


.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
.navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
nav ul li a{
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    white-space: nowrap;
    
}
nav ul li a:hover{
    color:#6c757d;
}

 .ms-auto {
    margin-left: auto!important;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
}