<header>
  <nav class= "navbar navbar-dark navbar-expand-lg" style= "background:#0d6efd;">
  
        
    <div   class= "container">
            <a class= "navbar-brand" href= "#"> smartlearn</a>
          
            <button type= "button" class= "navbar-toggler" data-toggle= "collapse"  data-target= "#navbarResponsive"
             aria-controls= "navbarResponsive" aria-label= "Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class= "collapse navbar-collapse" id= "navbarResponsive" style>
                <form class= " mx-auto col-lg-5 mt-2">
                  
                   <div class= "input-group ">
                        <input type= "text" class= "form-control" placeholder="Search" aria-label="search">
                        <button type= "submit" class= "btn btn-outline-secondary"  id= "button-addon">
                        <fa-icon [icon]= "faSearch"></fa-icon>   
                        </button>
                    </div>
                   
                </form>
               <ul class= "navbar-nav ms-auto mt-2 mt-lg-0">
                    <li class= "nav-item active">
                     <a class= "nav-link" href= "#" routerLink= "/home">Home</a>
                    </li>
            
                     <li class= "nav-item">
                        <a class= "nav-link" href= "#" routerLink= "/classes">Classes</a>
                    </li>
            
                     <li class= "nav-item">
                       <a class= "nav-link" href= "#" routerLink="/notices">Notices</a>
                     </li>
            
                    <li class= "nav-item ">
                       <a class= "nav-link" href= "#" routerlink="/quiz">Quizes</a>
                     </li>
        
                    <li class= "nav-item ">
                       <a class= "nav-link" href= "#" routerLink="/myprofile">MyProfile</a>
                    </li>

                    <li class= "nav-item ">
                      <a class= "nav-link" href= "#" routerLink="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>  
</header>
