.navbar.header-scrolled {
    background: #fff;
    padding: 15px 0;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}

.navbar {
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
}
.container-fluid{
    padding-left: 5px;
    padding-right: 5px;
    margin-right: auto;
    margin-left: auto;

}

.navbar-brand {
    letter-spacing: 1px;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-left: 1.1rem;
    font-size: 30px;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
    white-space: nowrap;
    color: #4154f1!important;

}
.navbar-brand:hover{
    color: #012970
}

a {
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}
.navbar .navbar-nav{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;

}


.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .9rem;
    padding-left: .9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #4154f1;
    white-space: nowrap;

}
.navbar-expand-lg .navbar-nav .nav-link:hover {
    background: #4154f1;
    padding: 8px 12px;
    border-radius: 4px;
    color: #fff;
}

.navbar-dark .navbar-toggler {
    color: #0d6efd;
    border-color: #0d6efd ;}












