<header>
    <div class= "container-fluid">
        <nav class= "navbar navbar-dark navbar-expand-md" style= "background:#0d6efd;">
            <a class= "navbar-brand" href= "#" style= "text-decoration:none; color:#fff; font-size: 27px; float: left; font-weight:600; padding: 0px 105px;">smartlearn</a>
          
            <button type= "button" class= "navbar-toggler" data-bs-toggle= "collapse"  data-bs-target= "#navbarToggler"
             aria-controls= "navbarToggler" aria-expanded="false" aria-label= "Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        

        <div class= "navbar-collapse collapse w-100 order-3" id= "navbarToggler">
            
            <ul class= "navbar-nav ms-auto">
                <li class= "nav-item active">
                    <a class= "nav-link" href= "#">Home</a>
                </li>
            
                <li class= "nav-item">
                    <a class= "nav-link" href= "#">Classes</a>
                </li>
            
                <li class= "nav-item">
                    <a class= "nav-link" href= "#">Notices</a>
                </li>
            
                <li class= "nav-item ">
                    <a class= "nav-link" href= "#">Quizes</a>
                </li>
        
                <li class= "nav-item ">
                    <a class= "nav-link" href= "#">MyAccount</a>
                </li>

                <li class= "nav-item ">
                    <a class= "nav-link" href= "#">Logout</a>
                </li>
            </ul>
        </div>
        </nav>
    </div>
</header>
