<app-navbar></app-navbar>
<section class= "breadcrumbs-section">
    <div class= "container p-1 p-ms-3">
        <div class= "row">
            <div class= "col-12">
                <ol class= "breadcrumb">
                    <li class= "breadcrumb-item" style="font-size: 1.2rem; font-weight: 450;">
                        <a href= "#" routerLink="/home">Home</a> 
                    </li>

                    <li class= "breadcrumb-item active" style="font-size: 1.2rem; font-weight: 450;">
                    <a href= "#" routerLink="/classes"></a> Chat Session   </li>
                </ol>
            </div>
        </div>
    </div>
</section>

    <div class= "container mt-3">
       <div class= "row">
           <div class="col-md-7 col-ms-7">
             <div class= "chatcard-left">
                 <div class= "card direct-chat-primary" style="position: relative;left: 0px; top: 0px; border-top: 3px solid #007bff;">
                    <div class="card-header ui-sortable-handle" style="cursor:move;">
                        <h3 class="card-title">smartlearn chat</h3>
                     <div class="card-tools">
                        <span title="new-messages" class="badge badge-primary p-2">50 </span>
                        <button type="button" class="btn btn-tool p-2" data-card-widget="collapse">
                            <fa-icon [icon]= "faMinus"></fa-icon>
                        </button>
                        <button type="button" class="btn btn-tool p-2" title="Contacts" data-widget="chat-pane-toggle">
                            <fa-icon [icon]= "faComment"></fa-icon>
                        </button>

                     </div>
                
                    </div>
                
                 <div class="card-body">
                    <div class="direct-chat-messages">
                        <!-- Message. Default to the left -->
                        <div class="direct-chat-msg">
                          <div class="direct-chat-infos clearfix">
                            <span class="direct-chat-name float-left">Michael Chemaka</span>
                            <span class="direct-chat-timestamp float-right">23 Jan 2:00 pm</span>
                          </div>
                          <!-- /.direct-chat-infos -->
                          <img class="direct-chat-img" src="assets/img/user1.jpg" alt="message user image">
                          <!-- /.direct-chat-img -->
                          <div class="direct-chat-text">
                           How are you tacklinh question 4? That's a tough one
                          </div>
                          <!-- /.direct-chat-text -->
                        </div>
                        <!-- /.direct-chat-msg -->
      
                        <!-- Message to the right -->
                        <div class="direct-chat-msg right">
                          <div class="direct-chat-infos clearfix">
                            <span class="direct-chat-name float-right">Glen Connect</span>
                            <span class="direct-chat-timestamp float-left">23 Jan 2:05 pm</span>
                          </div>
                          <!-- /.direct-chat-infos -->
                          <img class="direct-chat-img" src="assets/img/user8.jpg" alt="message user image">
                          <!-- /.direct-chat-img -->
                          <div class="direct-chat-text"
                          
                          >
                           let me help you!
                          </div>
                          <!-- /.direct-chat-text -->
                        </div>
                        <!-- /.direct-chat-msg -->
      
                        <!-- Message. Default to the left -->
                        <div class="direct-chat-msg">
                          <div class="direct-chat-infos clearfix">
                            <span class="direct-chat-name float-left">Michael Chemaka</span>
                            <span class="direct-chat-timestamp float-right">23 Jan 5:37 pm</span>
                          </div>
                          <!-- /.direct-chat-infos -->
                          <img class="direct-chat-img" src="assets/img/user1.jpg" alt="message user image">
                          <!-- /.direct-chat-img -->
                          <div class="direct-chat-text">
                            Working on the solutons?
                          </div>
                          <!-- /.direct-chat-text -->
                        </div>
                        <!-- /.direct-chat-msg -->
      
                        <!-- Message to the right -->
                        <div class="direct-chat-msg right">
                          <div class="direct-chat-infos clearfix">
                            <span class="direct-chat-name float-right">Glen Connect</span>
                            <span class="direct-chat-timestamp float-left">23 Jan 6:10 pm</span>
                          </div>
                          <!-- /.direct-chat-infos -->
                          <img class="direct-chat-img" src="assets/img/user8.jpg" alt="message user image">
                          <!-- /.direct-chat-img -->
                          <div class="direct-chat-text">
                            yes am about to conclude, wait
                          </div>
                          <!-- /.direct-chat-text -->
                        </div>
                        <!-- /.direct-chat-msg -->
      
                      </div>
                </div>
                <div class="card-footer">
                    <form action="#" method="post">
                      <div class="input-group">
                        <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                        <span class="input-group-append">
                            <button type="button" class="btn btn-primary">
                                 <fa-icon [icon]= "faPaperPlane"></fa-icon>
                            </button>
                           
                        </span>
                      </div>
                    </form>
                </div>
            </div>
              </div>
              </div>

              <div class= "col-md-5 col-ms-5">
                <div class= "landpage-rigt mr-auto mt-4">
                    <img src= "assets/img/features-3.png" width= "100%">
                </div>
            </div>
              
           
          
           
        </div>
    </div>      
            
            
   