
  <div class= "container">
    <div class= "row justify-content-center p-5">
      <div class="col-md-6 col-ms-6 justify-content-bottom">
        <div class= "landpage-left mt-3 ">
              <img src= "assets/img/msu4.png" style= "width: 100px; height:100px;  text-align: center;" class= "displayed" >
              <div class="text-center">
                <h1 class="h4 header-color mb-3">Welcome back!</h1>
             </div>
             
             <form  #formData='ngForm' (ngSubmit)='onSubmit(formData)'    class= "loginform needs-validation">
              <div class= "form-group p-2">
                <input type="text" name= "username" id= "username" class= "form-control form-control-user" (ngModel)="username" placeholder= "Enter Your Username..." required>
                <div class="valid-feedback">Valid Username.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
             
              <div class= "form-group p-2">
                <input type="password" name= "password" id= "password" class= "form-control form-control-user" (ngModel)="password" placeholder= "Enter Your Password..." required>
                <div class="valid-feedback">Valid Password.</div>
             <div class="invalid-feedback">Please fill out this field.</div>

              </div>
              
              <div class= "form-group p-2">
                <button type="submit" (click)="validate()"  style="width: 100%;"       class= "btn btn-primary btn-user"  >
                 <b> <span>Login</span>
                  <fa-icon [icon]= "faSignInAlt" class= "p-2"></fa-icon>
                 </b>
                </button>
              </div> 
            
               <hr>
               <div class= "registration">
                <a class="small" href="#" routerLink= "/resetpw">Forgot Password?</a>
               </div>
              <div class= "registration">
                <a class="small" routerLink= "/register">Create an Account!</a>
              </div>
              </form>
        </div>
      </div>

        <div class= "col-md-6 col-ms-6">
            <div class= "landpage-rigt mt-3">
                <img src= "assets/img/hero-1.png" max-width= "100%" height="auto">
            </div>
        </div>
    </div>
  </div> 
  



  <div class="copyright bottom-fix">
    <div class="container">
       <div class="row">
        <div class="col-md-6 col-sm-6 left">
          <h1>smartlearn
             <span>
            <fa-icon [icon]="faGraduationCap"></fa-icon>
          </span>
        </h1>
        </div>
        <div class="col-md-6 col-sm-6 right">
          <div class="breadcrumb float-sm-right">
            <ul>
              <li><a href="#" routerLink=""><fa-icon [icon]= "faEnvelope"></fa-icon></a>
                
              </li>
              <li><a href="#" routerLink=""><fa-icon [icon]= "faWhatsapp"></fa-icon></a>
              
              </li>
              <li><a href="#" routerLink=""><fa-icon [icon]= "faLinkedin"></fa-icon></a>
                
              </li>
            </ul>
          </div>
         
        </div>
  
       </div>
    </div>
  </div>