
<app-navbar></app-navbar>
<section class= "breadcrumbs"> 
  <div class="container">

    <ol>
      <li><a href="#" routerLink="/home" style="text-decoration: none;">Home</a></li>
      <li>MyProfile</li>
	  
    </ol>
    

  </div>
</section>













<section class= "content">
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
          <div class=" card card-widget widget-user-2 shadow-sm">
            <div class="widget-user-header bg-info">
                <div class="widget-user-image">
                  <img class="img-circle elevation-2" src="assets/img/user1.jpg" alt="User Avatar">
                </div>
                <!-- /.widget-user-image -->
                <h3 class="widget-user-username">Michael Chemaka</h3>
                <h5 class="widget-user-desc"> Student</h5>
              
              </div>
              <div class="card list-group  p-0">
                <ul class="nav flex-column">
                <ul class="nav flex-column">
                    <li class="nav-item">Reg.Number<span class="float-right badge bg-info">R1917839B</span></li>
                </ul>

                  <li class="nav-item">Level <span class="float-right badge bg-primary">2.2</span></li>
                </ul>
              
                <ul class="nav flex-column">
                  <li class="nav-item">Modules <span class="float-right badge bg-info">5</span></li>
                </ul>

                <ul class="nav flex-column">
                  <li class="nav-item">Degree <span class="float-right badge bg-warning">computer science </span></li>
                </ul>

                
                <div class="card-footer">
                  <strong class="card-title mb-3">Profile Card</strong>
              </div>
             
              </div>
            </div>  

            <div class="card card-warning mt-3" >
              <div class="card-header">
                <h4 class="card-title text-info" >About Me</h4>
              </div>
              <!-- /.card-header -->
              <div class="card-body   ">
                <strong><i class="fas fa-book mr-1" style="color: #4e73df;" ></i> Education</strong>

                <p class="text-muted">
                  B.S. in Computer Science  Midlands State University 
                </p>

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

                <p class="text-muted">Gweru, Zimbabwe</p>

                <hr>

                <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

                <p class="text-muted">
                  <span class="tag tag-danger">UI Design</span>
                  <span class="tag tag-success">Coding</span>
                  <span class="tag tag-info">Javascript</span>
                  <span class="tag tag-warning">PHP</span>
                  <span class="tag tag-primary">Node.js</span>
                </p>

                <hr>

                <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>

                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
              </div>
              <!-- /.card-body -->
            </div>
        </div>

        <div class="col-md-8">

          <h2>hello mike am good  and how is the app coming About</h2>
        </div>
         
        

    </div>  
</div>
</section>    

<br>
