
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
.breadcrumbs-section{
    background-color:#99b9e9; 
 }
 .float-sm-right {
    float: right!important;
}

.card-widget {
    border: 0;
    position: relative;
}
.widget-user-2 .widget-user-header {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    padding: 1rem;
}


.widget-user-2 .widget-user-image img {
    float: left;
    height: auto;
    width: 65px;
}
.elevation-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23)!important;
}
.img-circle {
    border-radius: 50%;
}

img {
    vertical-align: middle;
    border-style: none;
}
.widget-user-2 .widget-user-desc, .widget-user-2 .widget-user-username {
    margin-left: 75px;
}
.widget-user-header .widget-user-username {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 5px;
    margin-top: 5px;
}

.p-0 {
    padding: 0!important;
}
.card-footer {

    background-color: rgba(0,0,0,.03);
    border-top: 0 solid rgba(0,0,0,.125);
}
.btn-block {
    display: block;
    width: 100%;
    padding: .7rem 1rem;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    box-shadow: none;
}
.flex-column {

    flex-direction: column!important;
}
.nav {
    display: flex;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    
}
.card .nav.flex-column li {
    border-bottom: 1px solid rgba(0,0,0,.125);
    margin: 0;
}
.nav-item {
    display: block;
    padding: .7rem 1rem;
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.float-right {
    float: right!important;
}
.footer-variant-2-bottom-panel {
    background: #222120;
}
.footer-variant-2-bottom-panel {
    padding: 30px 0;
}
.group-sm-justify {
    justify-content: space-between;
}
.group-sm-justify {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.group-sm {
    margin-bottom: -12px;
    margin-left: -12px;
}
.copyright {
    padding: 5px 0px;
    background-color: #007bff;
}
.copyright p {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    float: left;
}
.copyright p:hover{
    color: #012970
}
ul{
    float: right;
}
ul li{
    float: right;
    list-style: none;
}
ul li a{
    color: #fff;
    margin-right: 15px;
    font-size:27px;
    display: inline-block;
    text-align: center;
}
ul li a:hover{
    color: #012970
}


