.breadcrumbs {
    padding: 20px 0;
    background: #4154f1;
    min-height: 40px;
    margin-top: 0;
    color: #fff;
}
.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 17px;

}
.breadcrumbs ol li + li::before {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    content: "/";
}
.breadcrumbs ol a {
    color: #fff;
    transition: 0.3s;
}


.card-widget {
    border: 0;
    position: relative;
}
.widget-user-2 .widget-user-header {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    padding: 1rem;
}


.widget-user-2 .widget-user-image img {
    float: left;
    height: auto;
    width: 65px;
}
.elevation-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23)!important;
}
.img-circle {
    border-radius: 50%;
}

img {
    vertical-align: middle;
    border-style: none;
}
.widget-user-2 .widget-user-desc, .widget-user-2 .widget-user-username {
    margin-left: 75px;
}
.widget-user-header .widget-user-username {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 5px;
    margin-top: 5px;
}

.p-0 {
    padding: 0!important;
}
.card-footer {

    background-color: rgba(0,0,0,.03);
    border-top: 0 solid rgba(0,0,0,.125);
}
.btn-block {
    display: block;
    width: 100%;
    padding: .7rem 1rem;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    box-shadow: none;
}
.flex-column {

    flex-direction: column!important;
}
.nav {
    display: flex;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    
}
.card .nav.flex-column li {
    border-bottom: 1px solid rgba(0,0,0,.125);
    margin: 0;
}
.nav-item {
    display: block;
    padding: .7rem 1rem;
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.float-right {
    float: right!important;
}
.list-group-variant-2-bottom-panel {
    background: #222120;
}
.footer-variant-2-bottom-panel {
    padding: 30px 0;
}
.group-sm-justify {
    justify-content: space-between;
}
.group-sm-justify {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.group-sm {
    margin-bottom: -12px;
    margin-left: -12px;
}
.card-footer {
    padding: .85rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
    border-bottom: 3px solid #0dcaf0;
}
    .card.card-warning{
        border-bottom: 3px solid #0dcaf0;

}
.mb-3 {
    margin-bottom: 1rem!important;
}

strong {
    font-weight: 800;
    color: #0dcaf0;
}
.form-group {
    margin-bottom: 1rem;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}
.form-control-file, .form-control-range {
    display: block;
    width: 100%;
}
input, textarea {
    border: none;
}
button, input {
    overflow: visible;
}

.jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}