<app-navbar></app-navbar>
<section class= "breadcrumbs-section">
    <div class= "container p-1 p-ms-3">
        <div class= "row">
            <div class= "col-12">
                <ol class= "breadcrumb">
                    <li class= "breadcrumb-item" style="font-size: 1.2rem; font-weight: 450;">
                        <a href= "#" routerLink="/home">Home</a> 
                    </li>

                    <li class= "breadcrumb-item active" style="font-size: 1.2rem; font-weight: 450;">
                    <a href= "#" routerLink="/notices"></a> Notices </li>
                </ol>
            </div>
        </div>
    </div>
</section>

    <div class= "container one mt-4 p-1 p-ms-3">
        <div class= "row">
            <div class= "col-lg-10 offset-md-1">
                <div class= "card border-warning mb-2" >
                    <div class= "card-body">
                        <h4 class= "card-title text-warning">This week</h4>
                        <p class= "card-text">You can see the modules you are taking this semester</p>
                        <a href= "#" routerLink= "/classes" class= "btn btn-outline-warning">View More</a>
                    </div>
                </div>

                <div class= "card border-success mb-2">
                    <div class= "card-body ">
                        <h4 class= "card-title text-success">Last Week</h4>
                        <p class= "card-text">You can see the modules you are taking this semester</p>
                        <a href= "#" routerLink= "/classes" class= "btn btn-outline-success">View More</a>
                    </div>
                </div>

                  
                <div class= "card border-danger mb-2" >
                    <div class= "card-body">
                        <h4 class= "card-title text-danger">Last Month</h4>
                        <p class= "card-text">You can see the modules you are taking this semester</p>
                        <a href= "#" routerLink= "/classes" class= "btn btn-outline-danger">View More</a>
                    </div>
                </div>

        
            </div>
        </div>
    </div>

<div>
  
</div>
