<p>logout works!</p>
<fa-icon [icon]= "faUser"></fa-icon>
<br>
<fa-icon [icon]= "faUserCircle"></fa-icon>
<br>
<fa-icon [icon]= "faUserPlus"></fa-icon>
<br>
<fa-icon [icon]= "faUserSecret"></fa-icon>
<br>
<fa-icon [icon]= "faUsers"></fa-icon>
<br>
<fa-icon [icon]= "faUserTimes"></fa-icon>
<br>
<fa-icon [icon]= "faUserMd"></fa-icon>
<br>
<fa-icon [icon]= "faSignInAlt"></fa-icon>
<br>
<fa-icon [icon]= "faSignOutAlt"></fa-icon> 
<br>
<fa-icon [icon]= "faChartArea"></fa-icon> 
<br>
<svg class= "bi" width= "32" height= "32" fill= "currentColor">
    <use xlink:href= "bootstrap-icons.svg#heart-fill"/>
</svg>