<app-navbar></app-navbar>
<section class= "breadcrumbs-section">
    <div class= "container p-1 p-ms-3">
        <div class= "row">
           
                <div class= "col-12">
                    <ol class= "breadcrumb">
                        <li class= "breadcrumb-item active" style="font-size: 1.2rem; font-weight: 450;">
                        <a href= "#" routerLink="/home">Home</a> 
                        </li>
                    </ol>
                </div>
        
        </div>    
    </div>
</section>

<section class= "homecards-section">
    <div class= "container mt-4">
        <div class= "row">
            <div class= "col-lg-4 col-md-4">
                <div class= "card mb-3  ">
                    <div class= "card-body blue">
                        <img src= "assets/img/assessment.png">
                        <h4>Classes</h4>
                        <p class= "card-text">You can see the modules you are taking this semester</p>  
                        <a href= "#" routerLink= "/classes" class= "view-more" >
                        <span>View More</span>  
                        <fa-icon [icon]= "faArrowRight" class= "p-1"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>

            <div class= "col-lg-4 col-md-4">
                <div class= "card mb-3 ">
                    <div class= "card-body orange">
                        <img src= "assets/img/chatting.png">
                        <h4>Chat session</h4>
                        <p class= "card-text">You can see the modules you are taking this semester</p>
                        <a href= "#" routerLink= "/chat" class= "view-more" >
                            <span>View More</span>
                            <fa-icon [icon]= "faArrowRight" class= "p-1"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>

            <div class= "col-lg-4 col-md-4 h-75">      
                <div class= "card mb-3 ">
                    <div class= "card-body green">
                        <img src= "assets/img/quizin.png">
                        <h4>Quizes</h4>
                        <p class= "card-text">You can see the modules you are taking this semester</p>
                        <a href= "#" routerLink= "/quiz" class= "view-more">
                        <span></span>View More  
                        <fa-icon [icon]= "faArrowRight" class= "p-1"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
                  
            <div class= "col-md-4 col-ms-4">
                <div class= "card mb-3 ">
                    <div class= "card-body purple">
                        <img src= "assets/img/notifications-active.png">
                        <h4>Notices</h4>
                        <p class= "card-text">You can see the modules you are taking this semester</p>
                        <a href= "#" routerLink= "/notices" class= "view-more">View More
                        <fa-icon [icon]= "faArrowRight" class= "p-1"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>    

            <div class= "col-lg-4 col-md-4">    
                <div class= "card mb-3" >
                    <div class= "card-body red">
                        <img src= "assets/img/videochat.png">
                        <h4>Video Session</h4>
                        <p class= "card-text">You can see the modules you are taking this semester</p>
                        <a href= "#" routerLink= "/classes" class= "view-more">
                        <span>View More</span>
                            <fa-icon [icon]= "faArrowRight" class= "p-1"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
            

            <div class= "col-lg-4 col-md-4">
                <div class= "card mb-3">
                    <div class= "card-body pink">
                        <img src= "assets/img/account-user.png">
                        <h4>MyProfile</h4>
                        <p class= "card-text">You can see the modules you are taking this semester</p>
                        <a href= "#" routerLink= "/myprofile"  class= "view-more">
                        <span>View More</span>
                        <fa-icon [icon]= "faArrowRight" class= "p-1"></fa-icon>
                        </a>
                   
                    </div>
                </div>
           
            </div>    
        </div>
    </div>
    
</section>
