.breadcrumbs {
  padding: 20px 0;
  background: #4154f1;
  min-height: 40px;
  margin-top: 0;
  color: #fff;
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 17px;

}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  content: "/";
}
.breadcrumbs ol a {
  color: #fff;
  transition: 0.3s;
}

 .homecards-section{
   overflow: hidden;
   
 }

 /*.homecards-section .card .card-text{
  color: #6c757d !important;
 }*/

 
.homecards-section .card-body{
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  height: 100%;
  padding-top: 45px;
  padding-right: 25px;
  padding-bottom: 45px;
  padding-left: 25px;
  border-radius: 2px;

  
}

.homecards-section .card-body .float-right{
  margin-top: 7px;
  font-weight: 685;
  float: right!important;
}
.homecards-section .card-body p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  font-weight: 400;
  
}
.homecards-section .card-body .view-more{
  display: inline-flex;
  align-items: center;
  justify-content: start;
  font-weight: 600;
  font-size: 16px;
  padding-top: 8px ;
  padding-bottom: 8px;
  text-decoration: none;
  padding-left: 0;
}
.homecards-section .card-body.info img{
  background-color: #fff;
 border-radius: 4px;
 position: relative;
 display: inline-block;
 
}

.homecards-section .card-body.info{
  border-bottom: 2px solid #0dcaf0;
  border-top: 2px solid #0dcaf0;
}

.homecards-section .card-body.info:hover{
  background: #0dcaf0;
  color:#fff;  
}
.homecards-section .card-body.info img{
  background-color:#fff;
 border-radius: 4px;
 position: relative;
 display: inline-block;
 margin-bottom: 15px;

}
.homecards-section .card-body.info .view-more{
  color: #0dcaf0;
}

.homecards-section .card-body.info .icon{
  color:#0dcaf0;
    background: #cffddf;
}

.homecards-section .card-body.orange{
  border-bottom: 2px solid #f0ad4e;
  border-top: 2px solid #f0ad4e;
}

.homecards-section .card-body.orange:hover{
  background: #f0ad4e;
  color:#fff;  
}
.homecards-section .card-body.orange img{
  background-color:#fff;
 border-radius: 4px;
 position: relative;
 display: inline-block;
 margin-bottom: 15px;
}

.homecards-section .card-body.orange .view-more{
  color: #f0ad4e;
}

.homecards-section .card-body.blue{
  border-bottom: 2px solid #0275d8;
  border-top: 2px solid #0275d8;
}
.homecards-section .card-body.blue:hover{
  background: #0275d8;
  color:#fff;  
}
.homecards-section .card-body.blue img{
  background-color:#fff;
 border-radius: 4px;
 position: relative;
 display: inline-block;
  margin-bottom: 15px;
}

.homecards-section .card-body.purple{
  border-bottom: 2px solid #b50edf;
  border-top: 2px solid #b50edf;
}

.homecards-section .card-body.purple:hover{
  background: #b50edf;
  color:#fff;  
}
.homecards-section .card-body.purple img{
  background-color:#fff;
 border-radius: 4px;
 position: relative;
 display: inline-block;
 margin-bottom: 15px;
}

.homecards-section .card-body.purple .view-more{
  color:#b50edf ;
}

.homecards-section .card-body.red{
  border-bottom: 2px solid #e9222c;
  border-top: 2px solid #e9222c;
}

.homecards-section .card-body.red:hover{
  background: #e9222c;
  color:#fff; 
}
.homecards-section .card-body.red img{
  background-color:#fff;
 border-radius: 4px;
 position: relative;
 display: inline-block;
 margin-bottom: 15px;
}
.homecards-section .card-body.red .view-more{
  color:  #e9222c;
}


.homecards-section .card-body.pink{
  border-bottom: 2px solid #f51f9c ;
  border-top: 2px solid #f51f9c ;
}

.homecards-section .card-body.pink:hover{
  background: #f51f9c;
  color:#fff;
}
.homecards-section .card-body.pink img{
  background-color: #fff;
 border-radius: 4px;
 position: relative;
 display: inline-block;
 margin-bottom: 15px;
}

.homecards-section .card-body.pink .view-more{
  color:  #f51f9c;
}

.homecards-section .card-body:hover .view-more{
  color: #fff;
}

a.hover{
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial
}


header {
  margin-top:25.5rem;
  padding: 156px 0 100px;
}



.stretch-card {
  display: flex;
  
  align-items: stretch;

  justify-content: stretch;
}
.grid-margin {
  margin-bottom: 1.875rem;
}
.stretch-card > .card {
  width: 100%;
  min-width: 100%;
}

.stretch-card .card .card-body {
  padding: 1.25rem 1.437rem;
}

.stretch-card .card .card-title {
  color: #787878;
   margin-bottom: 1.2rem; 
   text-transform: uppercase; 
  font-size: 1.4rem;
  font-weight: 500; 
  margin-bottom: 0.75rem;
}
.list-wrapper {
  height: 100%;
  max-height: 361px;
  overflow: scroll;
}
.list-wrapper ul {
  padding: 0;
  text-align: left;
  list-style: none;
  margin-bottom: 0;
}
.flex-column-reverse {
  flex-direction: column-reverse !important;
}
.list-wrapper ul li {
  font-size: 1.1rem;
  padding: 1.063rem 0rem;
  border-bottom: 1px solid #c9ccd7;
}
.list-wrapper ul li .form-check{
max-width: 90%;
margin-top: .25rem;
margin-bottom: .25rem;
}

.list-wrapper ul li .form-check .form-check-label {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
}

.list-wrapper input{
  margin-right: 15px;
}


.list-wrapper .remove {
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
  float:right !important;
}
 .list-wrapper .remove {
  color: #a3a4a5 !important;
}
.list-wrapper .remove {
  margin-left: auto !important;
}
.list-wrapper .completed .remove {
  color: #248afd !important;
}

/*footer*/
.footer {
  background: #f6f9ff;
  padding: 0 0 30px 0;
  font-size: 14px;
  margin-top: 80px;
}
.footer .footer-top .footer-info {
  margin-bottom: 30px;
}

.footer .footer-top .footer-info .logo h3 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color:#007bff;
  font-family: "Nunito", sans-serif;
  margin-top: 3px;
  text-decoration: none;
}


.footer .footer-top .social-links a {
  font-size: 20px;
  display: inline-block;
  color: #007bff;
  line-height: 0;
  margin-right: 15px;
  transition: 0.3s;
}
.footer .footer-top .social-links a:hover{
  color:  #012970;
}

.footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color:  #007bff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-top .footer-links ul .chevron {
  padding-right: 5px;
  color: #d0d4fc;
  font-size: 15px;
  line-height: 0;
}
.footer .footer-top .footer-links ul a {
  color:   #007bff;;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  margin-bottom: 8px;
}
.footer .footer-top .footer-links ul a:hover{
  color: #013289;
}