
    <div class= "container">
      <div class= "row justify-content-center p-5">
          <div class="col-md-6 col-sm-6">
            <div class= "landpage-left mt-1">
                <img src= "assets/img/msu4.png" style= "width: 100px; height:100px;  text-align: center;" class= "displayed" >
                <div class="text-center">
                  <h1 class="h4 header-color mb-3">Create an Account!</h1>
               </div>

              <form class= "loginform">
                <div class="form-group row">
                  <div class="col-sm-6" style="margin-bottom:1rem;" >
                    <input type="text" name= "name" id= "name" class= "form-control form-control-user" placeholder= "Enter Your Name" required>
                  </div> 
                   <div class="col-sm-6"style="margin-bottom:1rem;">
                     <input type="text" name= "surname" id= "surname" class= "form-control form-control-user" placeholder= "Enter Your Surname" required>
                  </div>
                  <div class= "col-sm-12" style="margin-bottom:1rem;">
                    <input type="text" name= "username" class= "form-control form-control-user" placeholder= "Enter Your Username" required= "required">
                  </div>           
                  <div class="col-sm-6" style="margin-bottom:1rem;">
                   <input type="password" name= "password" id= "password" class= "form-control form-control-user" placeholder= "Enter Your Password" required= "required">
                  </div> 
                  <div class="col-sm-6" style="margin-bottom:1rem;">
                    <input type="password" name= "confirm-password" id= "confirm-password" class= "form-control form-control-user" placeholder= "Confirm Password" required= "required">
                  </div> 
              
                  <div class= "col-sm-12" style="margin-bottom:1rem;">
                    <input type="text" name= "email" class= "form-control form-control-user" placeholder= "Enter Your E-mail" required= "required">
                  </div>
            
                   <div class= "col-sm-12" style="margin-bottom:1rem;">
                <button type="submit" class= "btn btn-primary btn-user btn-block ">
                  <span>Register</span>
                  <fa-icon [icon]="faPaperPlane" class= "p-2"></fa-icon>
                </button>
                   </div>

                   <hr>
            
                    <div class= "registration">
                <a class="small" routerLink= "/login">Already have an account? Login!</a>
                    </div>
             
                </div>    
              </form>
            </div>
          </div>
  
          <div class= "col-md-6 col-sm-6">
              <div class= "landpage-rigt mt-3">
                  <img src= "assets/img/hero-1.png" max-width= "100%" height="auto">
              </div>
          </div>
      </div>
    </div>
  
  
          <div class="copyright bottom-fix">
            <div class="container">
               <div class="row">
                <div class="col-md-6 col-sm-6 left">
                  <h1>smartlearn</h1>
                </div>
                <div class="col-md-6 col-sm-6 right">
                  <div class="breadcrumb float-sm-right">
                    <ul>
                      <li><a href="#" routerLink=""><fa-icon [icon]= "faEnvelope"></fa-icon></a>
                        
                      </li>
                      <li><a href="#" routerLink=""><fa-icon [icon]= "faWhatsapp"></fa-icon></a>
                      
                      </li>
                      <li><a href="#" routerLink=""><fa-icon [icon]= "faLinkedin"></fa-icon></a>
                        
                      </li>
                    </ul>
                  </div>
                 
                </div>
          
               </div>
            </div>
          </div>
        
        