<app-navbar></app-navbar>
<section class= "breadcrumbs-section">
    <div class= "container p-1 p-ms-3">
        <div class= "row">
            <div class= "col-12">
                <ol class= "breadcrumb">
                    <li class= "breadcrumb-item" style="font-size: 1.2rem; font-weight: 450;">
                        <a href= "#" routerLink="/home">Home</a> 
                    </li>

                    <li class= "breadcrumb-item active" style="font-size: 1.2rem; font-weight: 450;">
                    <a href= "#" routerLink="/classes"></a> Classes   </li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class= "classes-section">
  <div class= "container order">
      <div class= "row"> 
        <div class= "col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class= "card mb-3  d-inline-block"  >
                <div class= "card-body one">
                  <h4 style="color: #ff901c; ">Software<br> Engineering</h4>
                  <h5 style="color: #ff901c; ">HCSCI222</h5>
                  <img src="assets/img/values-3.png" class= "img-fluid" alt="">
                   <ul>
                     <li><a href= "#" style="color:#ff901c">Assignments</a>
                    <p>View and send all of your Assignments here</p></li>
                    <li><a href= "#" style="color:  #ff901c">Learning Material</a>
                      <p>Don't miss out all the module materials from your lecturers</p></li>
                   </ul> 
                    
                    
                  </div>
            </div>
        </div>

        <div class= "col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class= "card mb-3 ">
                <div class= "card-body two">
                  <h4 style="color: #07d5c0;">Object Oriented Programming</h4>
                  <h5 style="color: #07d5c0;">HCSE224</h5>
                  <img src="assets/img/values-3.png" class="img-fluid" alt="">
                   <ul>
                     <li><a href= "#" style="color: #07d5c0;">Assignments</a>
                    <p>View and send all of your Assignments here</p></li>
                    <li><a href= "#" style="color: #07d5c0;">Learning Material</a>
                      <p>Don't miss out all the module materials from your lecturers</p></li>
                   </ul> 
                    
                    
                  </div>
            </div>
        </div>
        
        <div class= "col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class= "card mb-3 ">
                <div class= "card-body three">
                
                  <h4 style="color: #65c600;">Data Communications and Computer Networks</h4>
                  <h5 style="color: #65c600;">HCSCI221</h5>
                  <img src="assets/img/values-3.png" class="img-fluid" alt="">
                   <ul>
                     <li><a href= "#" style="color: #65c600; ">Assignments</a>
                    <p>View and send all of your Assignments here</p></li>
                    <li><a href= "#" style="color: #65c600;">Learning Material</a>
                      <p>Don't miss out all the module materials from your lecturers</p></li>
                   </ul> 
                    
                    
                  </div>
            </div>
        </div>


        <div class= "col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class= "card mb-3">
                <div class= "card-body four">
                <span class="electives">Electives</span>
                  <h4 style="color: #0275d8;">Design and Analysis of Algorithms</h4>
                  <h5 style="color: #0275d8;">HCSCI224</h5>
                  <img src="assets/img/values-3.png" class="img-fluid" alt="">
                   <ul>
                     <li><a href= "#" style="color: #0275d8;">Assignments</a>
                    <p>View and send all of your Assignments here</p></li>
                    <li><a href= "#" style="color: #0275d8;">Learning Material</a>
                      <p>Don't miss out all the module materials from your lecturers</p></li>
                   </ul> 
                    
                    
                  </div>
            </div>
        </div>
    </div>
  </div>
</section>
