<app-navbar></app-navbar>
<section class= "breadcrumbs-section">
    <div class= "container p-1 p-ms-3">
        <div class= "row">
            <div class= "col-12">
                <ol class= "breadcrumb">
                    <li class= "breadcrumb-item" style="font-size: 1.2rem; font-weight: 450;">
                        <a href= "#" routerLink="/home">Home</a> 
                    </li>

                    <li class= "breadcrumb-item" style="font-size: 1.2rem; font-weight: 450;">
                    <a href= "#" routerLink="/classes"></a> Classes   </li>
                </ol>
            </div>
        </div>
    </div>
</section>